.menu {
  width: calc(25vw - 90px);
  display: flex;
  color: inherit;
  flex-wrap: wrap;
}

.n-button {
  width: calc(25vw - 90px);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.n-dropdown {
  width: calc(25vw - 90px);

}