.element-modal {
  width: 75vw;
  max-height: 75vw;
  height: 50vw;
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  position: fixed;
  margin-left: 1%;

}

.elementinfo {
  position: absolute;
  left: calc(((#{$element-size} + 0.46vw) * 2) + 0.23vw);
  bottom: 0;
  width: calc(((#{$element-size} + 0.46vw) * 10) - 0.23vw);
  display: flex;
  z-index: 999;
  flex-direction: column;
  background: transparent;
  color: #fff;

  &.group {
    .title {
      .abreviation {
        width: 100%;
        background: transparent;
      }
    }

    padding: 20px;
  }

  .title {
    display: flex;
    margin-left: 0.5rem;

    .name {
      padding: 1rem;

      h3 {
        opacity: 0.4;
        font-weight: 500;
        font-size: 1.2vw;
        line-height: 1.1;
        margin-bottom: 0.7rem;
      }

      span {
        font-size: 1vw;
      }
    }

    .abreviation {
      background: #2e3440;
      color: #fff;
      width: 4rem;
      height: 4rem;
      display: flex;
      font-size: 1vw;
      align-items: center;
      justify-content: center;
    }
  }

  .detail {
    display: flex;
    width: 100%;
    font-size: 1.2vw;

    .long_ditem {
      width: 100%;
      padding: 10px;
      font-weight: 500;
      font-size: 1vw;

      .info {
        opacity: 0.5;
      }
    }

    .ditem {
      width: 50%;
      padding: 10px;
      font-weight: 500;
      font-size: 1vw;

      .info {
        opacity: 0.5;
      }
    }
  }
}

.periodictable-container-section {
  width: 75vw;
  padding-top: 8%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.periodictable-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.periodictable {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  position: relative;
  justify-content: space-between;

  &.title {
    margin-bottom: 50px;
    justify-content: center;
    transform: translateX(-10%);
  }

  .item {
    background: linear-gradient(to right, rgb(185, 43, 39), rgb(21, 101, 192));
    width: $element-size;
    height: $element-size;
    margin: 0.23vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0;
    border: 0;
    cursor: pointer;
    font-size: 0.67vw;
    font-weight: bold;
    position: relative;
    color: #fff;
    transform-origin: center;
    opacity: 1;
    padding: 0vw 0.1vw 0.0vw 0.1vw;

    .product_name {
      display: block;
      font-size: 60%;
      margin-top: 2px;
      opacity: 0.6;
    }

    .small {
      margin-bottom: 2px;
      font-size: 60%;
      opacity: 0.6;
    }

    &.blur {
      opacity: 0.1;
    }

    &:hover {
      background: #2e3440 !important;
      border-color: #000 !important;
    }

    &.second {
      margin-right: calc(((#{$element-size} + 0.46vw) * 10) + 0.46vw);
    }
  }

  &.p-footer {
    margin-top: 20px;

    .item {
      &.x2 {
        margin-left: calc((#{$element-size} + 0.46vw) * 2);
      }

      &.x {
        margin-right: calc((#{$element-size} + 0.46vw));
      }
    }
  }
}