.description {
  width: calc(25vw - 90px);
  flex-shrink: 0;

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    font-size: 0.8vw;
    width: 100%;

    &.types {
      cursor: pointer;
      padding: 0.2vw 0.5vw;
    }

    &.blur {
      opacity: 0.5;

      &.set {
        text-decoration: line-through;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.sidebar {
  background: #2e3440;
  display: flex;
  color: inherit;
  position: fixed;
  flex-wrap: wrap;
  width: calc(25vw - 30px);
  height: 100vh;
  right: 0;
  top: 0;
  padding: 20px;
  box-shadow: -2px 5px 10px rgba(#000, 0.3);

  .accordion > div {
    margin-top: 10px;
  }

  &>div {
    margin-top: 10px;
  }

  .accordion-filters {
    height: 70vh;
    scroll-behavior: auto;
    overflow: scroll;
    overflow-x: hidden;
  }

  .sidebar-header {
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    .disclaimer {
      align-self: center;
      display: flex;
      max-width: 90%;
      padding-left: 0.7vw;
      font-size: 0.80vw;
      font-display: block;
      opacity: 0.7;
    }

    // logo {
    //   display: flex;
    //   padding: 0.5vw 0.7vw;
    //   max-width: 50%;
    //   height: auto;
    // }
    &>img {
      align-self: center;
      display: flex;
      padding-right: 0.7vw;
      max-width: 47%;
      height: auto;
      filter: brightness(4);
    }
  }

  .form-control {
    width: calc(25vw - 90px);
    background-color: #3B4252;
    border-radius: .25rem;
    font-size: 0.8vw;
    padding: 0.3vw 0vw 0.3vw 0vw;
    color: white;
    outline: none;
  }

  .card {
    display: flex;
    color: inherit;
    flex-wrap: wrap;
    border: none;
    background: #2e3440;
  }

  .accordion-header {
    width: calc(25vw - 90px);
    margin-bottom: 12px;
    font-size: 15px;
    cursor: pointer;
    outline: none;

  }

  .end {
    flex-shrink: 0;
    width: 100%;
    align-self: flex-end;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 80px auto;
  }
}

.github {
  grid-area: 1 span/2 span/1;
  width: 100%;

  a {
    background: #323232;
    color: #fff;
    width: 100%;
    display: flex;
    padding: 9px;
    font-size: 0.9vw;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 500;
  }
}